table {
  color: #959494;
  font-size: 12px;
  font-weight: 400;
}

.contributionGraph {
  display: flex;
  height: 130px;
  max-width: 890px;

  & .week {
    display: flex;
    flex-direction: column;
  }
}

.daysOfWeek {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin-right: 6px;
}

.months {
  display: flex;
  column-gap: 58px;
  margin-left: 60px;
}
